.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 78px;
    background: #00A551;
    border-radius: 10px 10px 0 0;
}
.title{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;    
}
.exit{
    background: #FFFFFF;
    color: #00A551;
    margin-bottom:0 ;
}